In [6]:
# printing length of list(that keeps changing) items 

db = ["manvi@gmail.com", "john@ab.com", "jack@123.com", "harry@we.com"]

for x in db:
    m = len(x)
    print(m)

15
11
12
12

In [3]:
type(db)

list

In [5]:
x = [1,2,3,4,5,6,7,8,9,34,76]

for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
34
76

In [27]:
#list comprehension

x = [1,2,3,4,5]

y = []
for i in x:
    sq = i*i
    y.append(sq)
print(y)

[1, 4, 9, 16, 25]

In [39]:
#list comprehension using inline approach

x= [1,2,3,4,5]

m = [i*i for i in x]

In [40]:
m

[1, 4, 9, 16, 25]

In [42]:
#don't process negative entry

x = [1,2,3,4,4,-1,3,5]           

y = []

for i in x:
    if i > 0 :
        m = i*i
        y.append(m)
    else:
        m = 0
        y.append(m)
print(y)

[1, 4, 9, 16, 16, 0, 9, 25]

In [45]:
#above program using inline appoach

x = [1,2,3,4,4,-1,3,5]           

y = []

m = [i*i   if i>0 else 0   for i in x]
print(m)

[1, 4, 9, 16, 16, 0, 9, 25]

In [46]:
#creating function /defining func

def Start():
    print("hii")
    print("hello")
    print("manvi here")
    
    
#calling a function

Start()

hii
hello
manvi here

In [47]:
#creating dynamic func

def Start(i,j):
    x = i
    y = j 
    m = x + y
    print(m)
    
    
#calling a function

Start(5,4)

9

In [53]:
#using one variable as parameter


def Start(*i):     #star denotes that 'i' is not a variable now, it is a list & list~tuple
    print(i)
    
    
#calling a function

Start(5,4,1,6,7,8,9)
Start(1,5,3,10)

(5, 4, 1, 6, 7, 8, 9)
(1, 5, 3, 10)

In [54]:
#to dispaly sum of list/tuple usimng single variable

def Start(*i):     #star denotes that 'i' is not a variable now, it is a list & list~tuple
    m = 0
    for x in i:
        m = m + x
    return(m)       

#because of print() we loose control from code as it only prints on console. 
#So, through return() func we can store the value & use it in future  
    
    
#calling a function

Start(5,4,1,6,7,8,9)
u = Start(1,5,3,10)
print(u)

19